.container {
    display: flex;
    z-index: 4;
    position: absolute;
    right: 1%;
    bottom: 1%;
    gap: 10px;
    button {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        font-size: 22px;
        color: var(--white);
        background: none;
        border: none;
        transition: 0.5s;
        transition-delay: 0.2s;
        padding: 0;
        &:hover {
            scale: 1.3;
            color: #02abee;
        }
        &:where(.prev, .next) {
            font-size: 32px;
        }
    }
}
