---
interface AnimatedButtonProps {
    content: string;
    path: string;
}
const { content, path } = Astro.props as AnimatedButtonProps;
---

<a href={path}>{content}</a>

<style>
    a {
        cursor: pointer;
        text-align: center;
        background-color: var(--fifth-color);
        color: var(--black);
        font-size: 18px;
        font-weight: 600;
        padding: 15px 25px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 2;
        position: relative;
        text-decoration: none;
        width: 100%;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: var(--black);
            visibility: hidden;
            z-index: -1;
        }
        &:hover {
            animation: lettersColor 1s linear;
        }
        &:hover::after {
            visibility: visible;
            left: 100%;
            transition: left 1s ease-out;
        }
        @media (max-width: 600px) {
            border-radius: 5px;
            padding: 10px;
            font-size: 18px;
        }
    }
    @keyframes lettersColor {
        0% {
            color: var(--fifth-color);
        }
        50% {
            color: var(--fifth-color);
        }
        100% {
            color: black;
        }
    }
</style>