.test {
    background-color: firebrick;
    height: 1000px;
    width: 100px;
    width: calc(100vw);
    border: 1px solid rebeccapurple;
}
.slide {
    display: flex;
    width: 100vw;
    position: relative;
    max-width: 1920px;
    background-color: transparent;
    height: 84vh;
    overflow: hidden;   
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        user-select: none;
    }
    &::before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        background-color: #012169;
        opacity: 0.5;
    }
}
.infoContainer {
    position: absolute;
    width: 70%;
    left: 10%;
    top: 50%;
    translate: 0 -50%;
    z-index: 1;
    h2 {
        color: var(--white);
        margin: 0;
        font-size: 57px;
    }
    hr {
        border: 2px solid var(--fifth-color);
        width: 15%;
        margin: 10px 0 25px 0;
    }
    p {
        color: var(--white);
        margin: 0;
        font-size: 20px;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
        color: var(--white);
        background-color: rgba(255, 255, 255, 0.25);
        border: 1px solid var(--white);
        border-radius: 15px;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 20px;
        transition: 0.3s;
        user-select: none;
        &:hover {
            background-color: transparent;
        }
    }
}
.sliderOrnament {
    display: flex;
    flex-direction: column;
    position: absolute;
    rotate: 135deg;
    z-index: 0;
    &.left {
        left: -315px;
        top: 0px;
    }
    &.right {
        right: -315px;
        bottom: 0px;
    }
    div {
        width: 800px;
        height: 160px;
        &.blue {
            background-color: var(--primary);
            opacity: 0.5;
        }
        &.yellow {
            background-color: var(--fifth-color);
            opacity: 0.2;
        }
    }
}