.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.screenList {
    display: flex;
    @media (max-width: 650px) {
        width: 100%;
        overflow: hidden;
    }
}
.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: unset;
    @media (max-width: 650px) {
        gap: 30px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}