---
import LinkList from "./components/LinkList.astro";
import ResponsiveLogo from "./components/ResponsiveLogo.astro"
---

<header>
    <button id="responsive-nav-btn">
        <iconify-icon icon="mingcute:menu-fill"></iconify-icon>
    </button>
    <ResponsiveLogo />
    <div id="responsive-filter"></div>
    <nav id="main-nav">
        <a href="./" class="logo-container">
            <img src="/images/EPTEN_LOGO.png" alt="EPTEN Logo" />
            <h1>
                Escuela Peruana de Tecnología
                <br />
                Emprendimiento y Negocios
            </h1>
        </a>
        <div class="links-container">
            <LinkList/>
            <a href="/inscripcion" class="signup-btn">
                <span>Inscríbete</span>
            </a>
        </div>
        <a
            href="/inscripcion"
            class="signup-btn responsive" 
        >
            <span>Inscríbete</span>
        </a>
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
        img {
            width: 100px;
        }
        @media (max-width: 600px) {
            gap: 20px;
        }
    }
    header :global(a) {
        text-decoration: none;
    }
    #responsive-nav-btn {
        display: none;
        border: 0;
        background-color: transparent;
        color: var(--dark1);
        cursor: pointer;
        transition: 0.3s;
        place-items: center;
        @media (max-width: 900px) {
            display: grid;
            font-size: 30px;
        }
    }
    #responsive-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: #000c;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }
    #main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        width: 100%;
        gap: 100px;
        @media (max-width: 1070px) {
            gap: 50px;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--primary);
            padding: 20px 0;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 30%;
            min-width: 300px;
            z-index: 3;
            transform: translatex(-100%);
            transition: 0.4s;
            &.active {
                transform: translateX(0);
            }
        }
    }
    .logo-container {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 900px) {
            order: 1;
            align-self: flex-end;
            margin-right: 22px;
        }
        img {
            @media (max-width: 900px) {
                background-color: var(--white);
                border-radius: 50%;
                padding: 15px;
                width: 150px;
            }
        }
        h1 {
            text-align: center;
            font-size: 20px;
            color: var(--primary);
            @media (max-width: 1070px) {
                font-size: 18px;
            }
            @media (max-width: 900px) {
                display: none;
            }
        }
    }
    .links-container {
        display: flex;
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .signup-btn {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border-radius: 8px;
        background-color: var(--primary);
        font-weight: 700;
        outline: 4px solid transparent;
        transition: 0.3s;
        margin-left: 50px;
        &:hover {
            background-color: var(--black);
            outline: 4px solid var(--fifth-color);
        }
        &.responsive {
            display: none;
            @media (max-width: 900px) {
                display: block;
                margin: 0;
                border: 2px solid var(--fifth-color);
                order: -1;
                padding: 20px 30px;
                &:hover {
                    border: 2px solid var(--white);
                }
                &:hover span {
                    color: var(--white);
                }
            }
        }
        @media (max-width: 1070px) {
            margin-left: 25px;
        }
        @media (max-width: 900px) {
            display: none;
        }
        span {
            color: var(--fifth-color);
            font-size: 16px;
            @media (max-width: 900px) {
                font-size: 20px;
            }
        }
    }
</style>

<script>
    const [$responsiveNavBtn, $responsiveFilter, $mainNav] = document.querySelectorAll("#responsive-nav-btn, #responsive-filter, #main-nav");
    $responsiveNavBtn.addEventListener("click", () => {
        $mainNav.classList.toggle("active");
        $responsiveFilter.classList.toggle("active");
    });
    $responsiveFilter.addEventListener("click", () => {
        $mainNav.classList.toggle("active");
        $responsiveFilter.classList.toggle("active");
    });
</script>