---
import HeroList from "./components/HeroList/HeroList";
import type { HeroSlideProps } from "./components/HeroSlide/types";
interface Props {
    heroSlides: HeroSlideProps[];
}
const { heroSlides } = Astro.props as Props;
---

<section id="hero-home">
    <HeroList slides={heroSlides} client:only />
</section>

<style lang="scss">
    #hero-home {
        // display: flex;
        // width: 100vw;
        // max-width: 1920px;
        // max-height: 1000px;
        display: flex;
        flex-direction: column;
        width: 99.1vw;
        max-width: 1920px;
        max-height: 1000px;
        // @media (max-width: 650px) {
        //     width: calc(100vw);
        //     margin: 80px 0;
        // }
        @media (max-width: 650px) {
            width: 100vw;
        }
    }
</style>
