---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<ul>
    <li>
        <a class={currentPath === "" ? "active" : ""} href="/">Inicio</a>
    </li>
    <li>
        <a class={currentPath === "nosotros" ? "active" : ""} href="/nosotros">Nosotros</a>
    </li>
    <li>
        <a class={currentPath === "cursos" ? "active" : ""} href="/cursos">Cursos</a>
    </li>
    <li>
        <a class={currentPath === "docentes" ? "active" : ""} href="/docentes">Docentes</a>
    </li>
    <li>
        <a class={currentPath === "aula-virtual" ? "active" : ""} href="/aula-virtual">Aula Virtual</a>
    </li>
</ul>

<style lang="scss">
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        a {
            display: block;
            text-align: center;
            color: var(--primary);
            font-weight: 600;
            font-size: 16px;
            position: relative;
            padding: 20px;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: var(--primary);
                left: 0;
                bottom: 0;
                transform: scale(0, 1);
                transition: transform 0.3s ease;
            }
            &:hover::after {
                transform: scale(1, 1);
                @media (max-width: 900px) {
                    transform: scale(0, 0);
                }
            }
            &.active::after {
                transform: scale(1, 1);
                @media (max-width: 900px) {
                    transform: scale(0, 0);
                }
            }
            @media (max-width: 1070px) {
                padding: 15px;
            }
        }
        @media (max-width: 900px) {
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 30px;
            a {
                width: 100%;
                color: var(--white);
                font-size: 18px;
                border: 1px solid transparent;
                padding: 5px 15px;
                transition: 0.4s;
                border-radius: 6px;
                font-weight: 700;
                &:hover {
                    border: 1px solid var(--fifth-color);
                    color: var(--fifth-color);
                }
                &.active {
                    background-color: var(--fifth-color);
                    color: var(--primary);
                }
            }
        }
    }
</style>