---
import MainTitleHeader from "../TitleHeaders/MainTitleHeader.astro";
import BenefitList from "./BenefitList/BenefitList";
import type { Benefit } from "./BenefitList/types";

interface Props {
    benefitCards: Benefit[];
}
const { benefitCards } = Astro.props as Props;
---

<section id="benefits-section">
    <article class="title-wrapper">
        <MainTitleHeader preTitle="NUESTROS" boldTitle="BENEFICIOS" />
    </article>
    <BenefitList benefits={benefitCards} client:only />
</section>

<style lang="scss">
    #benefits-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        max-width: 1920px;
        width: calc(100% - 2rem);
        @media (max-width: 650px) {
            align-items: unset;
            justify-content: unset;
            margin-top: 140px;
        }
        .title-wrapper {
            display: flex;
            width: 65%;
            max-width: 950px;
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
</style>
