---
import type { CourseCategoryCardProps } from "../CourseCategoryList/CourseCategoryList.astro";
import CourseCategoryList from "../CourseCategoryList/CourseCategoryList.astro";
import PageNavigator, { type NavLinkTypes } from "../PageNavigator/PageNavigator.astro";

interface CoursesSectionProps {
    cards: CourseCategoryCardProps[];
    navLinks: NavLinkTypes;
}
const { cards, navLinks } = Astro.props as CoursesSectionProps;
---

<section id="courses-section">
    <PageNavigator links={navLinks} />
    <CourseCategoryList cards={cards} />
</section>

<style lang="scss">
    #courses-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        width: calc(100% - 1rem);
        margin: 80px 0 160px;
    }
</style>
