---
import Card from "./components/Card.astro";
export interface CourseCategoryListProps {
    cards: {
        title: string;
        linkPath: string;
        imgPath: string;
    }[];
}
const { cards } = Astro.props as CourseCategoryListProps;
---

<article id="container">
    <div class="card-list">
        {
            cards.map(({ title, linkPath, imgPath }) => (
                <Card
                    key={title}
                    title={title}
                    linkPath={linkPath}
                    imgPath={imgPath}
                />
            ))
        }
    </div>
</article>

<style lang="scss">
    #container {
        position: relative;
        width: 70%;
        max-width: 1400px;
        &::before {
            position: absolute;
            content: "";
            border-bottom: 4px solid var(--fifth-color);
            border-left: 4px solid var(--fifth-color);
            border-right: 4px solid var(--fifth-color);
            bottom: -65px;
            height: 250px;
            left: 0;
            right: 0;
            box-sizing: inherit;
            z-index: -1;
            @media (max-width: 820px) {
                bottom: -50px;
                height: 300px;
            }
            @media (max-width: 600px) {
                height: 480px;
            }
        }
        &::after {
            border-bottom: 8px solid var(--primary);
            border-left: 8px solid var(--primary);
            border-right: 8px solid var(--primary);
            bottom: -40px;
            content: "";
            height: 300px;
            position: absolute;
            left: -25px;
            right: -25px;
            box-sizing: inherit;
            z-index: -1;
            @media (max-width: 820px) {
                bottom: -30px;
                height: 400px;
            }
            @media (max-width: 600px) {
                height: 620px;
                left: -20px;
                right: -20px;
            }
        }
        @media (max-width: 820px) {
            width: 85%;
        }
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
</style>
