// .container {
//     display: flex;
//     width: 100%;
// }
// .screen {
//     display: flex;
//     overflow: hidden;
// }
// .list {
//     display: flex;
//     flex-wrap: nowrap;
// }
.container {
    display: flex;
    flex-direction: column;
}
.screen {
    display: flex;
    @media (max-width: 650px) {
        width: 100%;
        overflow: hidden;
    }
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @media (max-width: 650px) {
        width: unset;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}