// .container {
//     display: flex;
//     width: 100%;
// }
// .screen {
//     display: flex;
//     overflow: hidden;
// }
// .list {
//     display: flex;
//     flex-wrap: nowrap;
// }
.container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.screen {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    width: unset;
    flex-wrap: nowrap;
    justify-content: flex-start;
}